@font-face {
  font-family: 'Leelawadee';
  font-weight: normal;
  font-style: normal;
  src: local("Leelawadee") url("/../assets/extras/leelawad.woff") format("woff");
}

body {
  font-family: 'Leelawadee', Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure img {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #8157DB;
}

.navbar .control {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 0 0.75em;
  margin-right: 9px;
}

.navbar .control:hover {
  opacity: 60%;
}

.landing-section, .about-me-section {
  background-color: #8157DB;
  text-align: center;
}

.social-media-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: auto;
}

.social-media-columns .column:hover {
  opacity: 60%;
}

h1, h2, h4, .landing-section-description {
  color: white;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 38px;
}

h4 {
  font-size: 28px;
  font-weight: bold;
  margin: 1em 0;
}

.landing-section-description {
  font-size: 22px;
  max-width: auto;
  margin: 0.75em 0em;
  padding: 0 1em;
}

.landing-section-content {
  padding: 20% 0;
}

.projects-and-design-tools-section {
  background-color: #F3F3F3;
}

.projects-and-design-tools-section h3 {
  padding: 1.5em 0;
}

.projects-and-design-tools-section p.subtitle {
  font-size: 1rem;
  font-weight: bold;
}

.projects-and-design-tools-section .design-tools .design-tools-content {
  padding-bottom: 50px;
}

.projects-and-design-tools-section .design-tools .design-tools-content ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-and-design-tools-section .design-tools .design-tools-content ul li figure {
  padding: 0 2.5em;
  width: 8.5em;
  opacity: 90%;
  bottom: 0;
  -webkit-transition: bottom .2s;
  transition: bottom .2s;
}

.projects-and-design-tools-section .design-tools .design-tools-content ul li figure:hover {
  bottom: 5px;
  opacity: 100%;
}

.projects-and-design-tools-section .design-tools .design-tools-content ul li p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 3em 0;
  font-weight: bold;
  font-size: 14px;
  color: #8157DB;
}

.card {
  border-radius: 10px;
  bottom: 0;
  -webkit-transition: bottom .2s;
  transition: bottom .2s;
}

.card:hover {
  bottom: 5px;
}

.card-content {
  background-color: #F3F3F3;
}

.card-content .content {
  text-align: center;
}

h1, h2 {
  text-align: left;
}

h3 {
  color: #8157DB;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
}

.alternate-title-color {
  padding: 1.5em 0;
  color: white;
}

.projects {
  margin: 2em 1em;
}

.projects .project-one, .projects .project-two, .projects .project-three {
  font-size: 16px;
}

.projects .project-one .content, .projects .project-two .content, .projects .project-three .content {
  padding: 0 1.5em;
}

.projects .project-one .content a, .projects .project-two .content a, .projects .project-three .content a {
  text-decoration: underline;
  font-weight: bold;
}

.projects .project-one .content {
  color: #B069F8;
}

.projects .project-one .content a, .projects .project-one .content .project-one-name {
  color: #B069F8;
}

.projects .project-two .content {
  color: #6388E7;
}

.projects .project-two .content a, .projects .project-two .content .project-two-name {
  color: #6388E7;
}

.projects .project-three .content {
  color: #CD62CF;
}

.projects .project-three .content a, .projects .project-three .content .project-three-name {
  color: #CD62CF;
}

.about-me-section {
  padding-top: 20px;
}

.about-me-section .parent-columns {
  padding: 0 10%;
}

.about-me-section .parent-columns .column {
  text-align: center;
}

.about-me-section .child-columns {
  margin-top: 25%;
  padding: 0 10px;
}

.about-me-section .child-columns .column:hover {
  opacity: 60%;
}

.about-me-section .personal-photo-figure {
  width: 300px;
}

.about-me-section .personal-photo {
  border-radius: 50%;
}

.about-me-section p {
  font-size: 18px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .projects-and-design-tools-section {
    background-color: #F3F3F3;
  }
  .projects-and-design-tools-section h3 {
    padding: 1.5em 0;
  }
  .projects-and-design-tools-section .design-tools .design-tools-content ul li figure {
    padding: 2em 1.75em;
    width: 100%;
  }
  .projects-and-design-tools-section .design-tools .design-tools-content ul li p {
    display: none;
  }
  .empty-space {
    display: none;
  }
  .landing-section .landing-section-content h1, .landing-section .landing-section-content h2 {
    text-align: center;
  }
  .about-me-section .hide-mobile {
    display: none;
  }
  .about-me-section .show-mobile {
    max-width: 80px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .landing-section-content h1, .landing-section-content h2 {
    text-align: center;
    padding-right: 15vw;
  }
  .empty-space {
    display: none;
  }
  .about-me-section .hide-mobile {
    display: none;
  }
  .about-me-section .show-mobile {
    max-width: 80px;
  }
}
/*# sourceMappingURL=new.css.map */